version: '3'
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5001:5000"
    environment:
      - CORS_ORIGINS=http://localhost:3000,http://localhost
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge