services:
  backend:
    build: ./backend
    environment:
      - CORS_ORIGINS=http://frontend
    networks:
      - app-network

  frontend:
    build: ./frontend
    labels:
      - "com.amazonaws.elasticbeanstalk.ports=80"
      - "com.amazonaws.elasticbeanstalk.container-port=80"
    environment:
      - REACT_APP_API_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network: